html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.div1{
    float: left;
    height: 100%;
    width: 30%;
    background-color:rgb(92, 86, 86);
}
.div2{
    float: left;
    height: 100%;
    width: 70%;
}
.felso{
    float: top;
    width: 100%;
    height: 40%;
    background-image: url('lottolabda.jpg');
}
.also{
    float: bottom;
    height: 60%;
    width: 100;

}
ul{
    list-style-type: none;
    margin-top: 5%;
    color: rgba(255, 255, 255, 0.842);
    margin-bottom: 5px;
}
li{
    margin-bottom: 25px;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
}

