.div1{
    float: left;
    width: 30%;
    background-color:grey;
}
.div2{
    float: left;
    width: 70%;
    
}
.felso{
    float: top;
    height: 300px;
    background-image: url('lottolabda.jpg');
}
.also{
    float: top;
    height: 600px;
    margin-top: 10px;
}