html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.div1{
    float: left;
    height: 100%;
    width: 30%;
    background-color:rgb(80, 75, 75);
}
.div2{
    float: left;
    height: 100%;
    width: 70%;
}
.felso{
    float: top;
    width: 100%;
    height: 40%;
    background-image: url('indexkep.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.also{
    float: bottom;
    height: 60%;
    width: 100;

}
ul{
    list-style-type: none;
    margin-top: 10%;
    color: rgba(255, 255, 255, 0.842);
    margin-bottom: 5px;
}
li{
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
}
h1{
    text-align: center;
    font-size: 80px;
}
.indexgolyo{
   height: 50%;
   display: block;
   margin: 0 auto;
}

