<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lottó Projekt</title>
                <!-- bootstrap -->
    
</head>
<body>
    <div class="div1">
        <div class="felso">
            
        </div>
    

    <div class="also">
<ul>
    <li> <a href="index.html">Korábbi sorsolások </a>  </li>
    <li> <a href="leggyakoribb.html">Leggyakoribb számok </a> </li>
    <li> <a href="leghasonlobb.html">Leghasonlóbb számsorok </a></li>
    <li> <a href="leghosszabb.html">Leghosszabb sorozatok számsorokban</a></li>
    <li> <a href="legkisebb.html">Legkisebb összegű számsorok</a></li>
    <li> <a href="grafikon.html">Grafikonok</a></li>
    <li> <a href="erdekes.html">Érdekes történetek</a></li>
</ul>
    </div>
    <div class="div2">
<h1> Mickey Caroll története </h1>
<p> 2002-ben, a kukásként dolgozó Mickey 10 millió fontot nyert a lottón, a pénz pedig annyira megrészegítette, hogy őrült költekezésbe kezdett: ékszereket vett magának, valamint egy 700.000 fontot (~ 239 millió forint) érő, medencével felszerelt luxusvillát, ahol óriási bulikat tartott.
</p> 
<p> Egy este a barátaival kocsikázott, amikor acélgolóykat lőtt ki egy katapultból, és 32 autót károsított meg azokkal. Néhány évnyi pazarlás után Mickey kifogyott a vagyonából, és ingatlanjától is meg kellett szabadulnia – 100.000 fontért (~ 34 millió forint) adta el – ahhoz, hogy ki tudja fizetni tartozásait. Jelenleg újra kukásként dolgozik, emellett bútorok javítását vállalja. Saját bevallása szerint ennek ellenére sem bán semmit.
</p>

<a link rel="stylesheet" href="https://starity.hu/magazin/68757-7-tortenet-arrol-hogyan-valtozott-meg-a-lottonyertesek-elete/"> <img style="height: 60%; margin-left: 25%;"  src="../kepek/Mickey.jpg" alt=""> 
</a>
    </div>
</div>
</body>
</html>