<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lottó Projekt</title>
                <!-- bootstrap -->
    
</head>
<body>
    <div class="div1">
        <div class="felso">
            
        </div>
    

    <div class="also">
<ul>
    <li> <a href="index.html">Korábbi sorsolások </a>  </li>
    <li> <a href="leggyakoribb.html">Leggyakoribb számok </a> </li>
    <li> <a href="leghasonlobb.html">Leghasonlóbb számsorok </a></li>
    <li> <a href="leghosszabb.html">Leghosszabb sorozatok számsorokban</a></li>
    <li> <a href="legkisebb.html">Legkisebb összegű számsorok</a></li>
    <li> <a href="grafikon.html">Grafikonok</a></li>
    <li> <a href="erdekes.html">Érdekes történetek</a></li>
</ul>
    </div>
</div>
<div class="div2">
    <h1>Nyert a lottón 2 napra-rá megtalálta "élete szerelmét".</h1>
    <p style="font-size: 30px;">
        <img src="/kepek/lotterywinner.jpg" style="height: 450px; width: 450px; float:left" >
        Már láthatták ezt a képet az interneten és bár valószinüleg tényleg történt már ilyen a képen
        láthatók nem tartoznak hózzájuk.
    </p>
    <p style="font-size: 20px;">
        A képen a Swéd szinésznő és modell Natacha Peyre látható a férfit még nem azonosították de 
        valószinuleg csak egy rajongója akivel a szinésznő egy rajongói találkozón készített egy 
        fotót.
    </p>
    <p style="font-size: 20px;" style="float: right;">
        Itt alul egy fényesebb képet láthatunk a kamu felirat nélkül ahol látható a háttérbe
        a szinésznő posztere így is igazolva hogy csak egy szimpla fotózáson készült a kép.
    </p>
    <img src="/kepek/lotterywinner02.jpg" style="height: 450px; width: 450px; float:left">
    <p style="font-size: 20px;">
        Az viszont tagadhatatlan hógy a férfi arca igazán illik a képhez.
    </p>
</div>
</body>
</html>