<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lottó Projekt</title>
</head>
<body>
    <div class="div1">
        <div class="felso">
 
        </div>
    

    <div class="also">
<ul>
    <li> <a href="index.html">Korábbi sorsolások </a>  </li>
    <li> <a href="leggyakoribb.html">Leggyakoribb számok </a> </li>
    <li> <a href="leghasonlobb.html">Leghasonlóbb számsorok </a></li>
    <li>  <a href="leghosszabb.html">Leghosszabb sorozatok számsorokban</a></li>
    <li> <a href="legkisebb.html">Legkisebb összegű számsorok</a></li>
    <li> <a href="grafikon.html">Grafikonok</a></li>
    <li> <a href="erdekes.html">Érdekes történetek</a></li>
</ul>
    </div>
</div>
    <div class="div2">
        <h1> A három leghosszabb számsorozatot tartalmazó számsor</h1>

        <h2 style="margin-left: 10%; margin-bottom: 40px;"> 3 egymást köveő szám</h2>
        <img style="margin-left: 10%;" class="golyo" src="../kepek/piros24.png" alt="piros">
        <img class="golyo" src="../kepek/barna75.png" alt="piros">
        <img class="golyo" src="../kepek/zold83.png" alt="piros">
        <img class="golyo" src="../kepek/kek84.png" alt="piros">
        <img class="golyo" src="../kepek/lila85.png" alt="piros">
        <h2 style="margin-left: 10%; margin-bottom: 40px;"> 3 egymást követő szám</h2>
        <img style="margin-left: 10%;" class="golyo" src="../kepek/piros27.png" alt="piros">
        <img class="golyo" src="../kepek/barna29.png" alt="piros">
        <img class="golyo" src="../kepek/zold30.png" alt="piros">
        <img class="golyo" src="../kepek/kek31.png" alt="piros">
        <img class="golyo" src="../kepek/lila71.png" alt="piros">
        <h2 style="margin-left: 10%; margin-bottom: 40px;"> 3 egymást követő szám</h2>
        <img style="margin-left: 10%;" class="golyo" src="../kepek/piros12.png" alt="piros">
        <img class="golyo" src="../kepek/barna17.png" alt="piros">
        <img class="golyo" src="../kepek/zold71.png" alt="piros">
        <img class="golyo" src="../kepek/kek72.png" alt="piros">
        <img class="golyo" src="../kepek/lila73.png" alt="piros">
        
    </div>
</body>
</html>