<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lottó Projekt</title>
</head>
<body>
    <div class="div1">
        <div class="felso">
 
        </div>
    

    <div class="also">
<ul>
    <li> <a href="index.html">Korábbi sorsolások </a>  </li>
    <li> <a href="leggyakoribb.html">Leggyakoribb számok </a> </li>
    <li> <a href="leghasonlobb.html">Leghasonlóbb számsorok </a></li>
    <li>  <a href="leghosszabb.html">Leghosszabb sorozatok számsorokban</a></li>
    <li> <a href="legkisebb.html">Legkisebb összegű számsorok</a></li>
    <li> <a href="grafikon.html">Grafikonok</a></li>
    <li> <a href="erdekes.html">Érdekes történetek</a></li>
</ul>
    </div>
</div>
    <div class="div2">
        <h1> A 3 legkisebb összegű számsorok </h1>
        <h2> Összeg: 49</h2>
        <img style="margin-left: 8%;" class="golyo" src="../kepek/piros2.png">
        <img class="golyo" src="../kepek/barna3.png">
        <img class="golyo" src="../kepek/zold6.png">
        <img class="golyo" src="../kepek/kek8.png">
        <img class="golyo" src="../kepek/lila30.png">
        <h2> Összeg: 66</h2>
        <img style="margin-left: 8%;"  class="golyo" src="../kepek/piros2.png" >
        <img class="golyo" src="../kepek/barna6.png" >
        <img class="golyo" src="../kepek/zold9.png" >
        <img class="golyo" src="../kepek/kek23.png" >
        <img class="golyo" src="../kepek/lila26.png" >
        <h2>Összeg: 68</h2>
        <img style="margin-left: 8%;"  class="golyo" src="../kepek/piros1.png" >
        <img class="golyo" src="../kepek/barna2.png" >
        <img class="golyo" src="../kepek/zold5.png" >
        <img class="golyo" src="../kepek/kek15.png" >
        <img class="golyo" src="../kepek/lila45.png" >
    </div>

<script src="/legkisebb.py/legkisebbszam"></script>
</body>
</html>