html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: rgb(216, 213, 213);
}

.div2{
    height: 100%;  
    width: 100%; 
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
}
h1{
    text-align:center;
    font-size: 50px;
    padding-left: 500px;
    padding-top: 5%;
    margin-bottom: 5%;
}
.indexgolyo{
   height: 50%;
   display: block;
   margin: 0 auto;
}

.otos{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 width: 80%;
 border: solid 3px rgb(238, 199, 117);
}
#grafikon{
    background-color: rgb(216, 213, 213);
}
.golyo{
    height: 15%;
    
}

.menu{
    float: left;
    height: 100%;
    background-color:rgb(66, 66, 66);
    padding: 0;
    line-height: 52.6px;
    width: 410px;
}
.menu hr{ 
    display: block;
    border: 0; 
    border-top: 1px solid black;
    padding: 0; 
    width: 90%;
}

.menu a{
    text-decoration: none;
    color: white;
    margin:15px;
    margin-left: 25px;
}
@media screen and (max-width:766px){
    #tartalom{
        margin:0;
        padding:0;
        display: block;
        position: relative;
    }
}
#lottokep{
    height: 90%;
    padding: 0;
    width: 480px;
    float: right;
}
.keret{
    height: 100%;
    width: 100%;
}
.leggyakoribb{
    text-align: center;
    padding-right: 400px;

}
h2{
    padding-left: 280px;
    
}